.poke-menu {
  display: flex;
  justify-content: space-between;
}

.poke-menu-links {
  display: flex;
}

.poke-menu-buttons {
  display: flex;
  gap: 10px;

  .signup-link {
    color: white;
    background-color: #1890ff;
    padding: 0 5px;
  }
}
